<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Patient</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<br>
<p class="h4 mb-4">Add New Patient</p>
<form action="#" th:action="@{/patient/save}" th:object="${patient}" method="post">
  <input type="hidden" th:field="*{id}">
  <div class="col-md-6">
    <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Enter first name">
  </div>
  <br>
  <div class="col-md-6">
    <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Enter last name">
  </div>
  <br>
  <div class="col-md-6">
    <input type="number" class="form-control" id="age" th:field="*{age}" placeholder="Enter Age" min="1">
  </div>
  <br>
  <div class="col-md-6">
    <input type="text" class="form-control" id="gender" th:field="*{gender}" placeholder="Enter Gender">
  </div>
  <br>
  <div class="col-md-6">
    <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter email address">
  </div>
  <br>
  <h4>Phone Number</h4>
  <div id="phoneNumbers">
    <div class="input-group mb-2">
      <input type="text" class="form-control" th:field="*{phones[0].number}" placeholder="Phone Number" required>
      <input type="text" class="form-control" th:field="*{phones[0].type}" placeholder="Phone Type" required>
    </div>
  </div>
  <br><br>

  <h4>Address</h4>
  <div id="addresses">
    <div class="input-group mb-2">
      <input type="text" class="form-control" th:field="*{addresses[0].street}" placeholder="Street" required>
      <input type="text" class="form-control" th:field="*{addresses[0].city}" placeholder="City" required>
      <input type="text" class="form-control" th:field="*{addresses[0].state}" placeholder="State" required>
      <input type="number" class="form-control" th:field="*{addresses[0].pincode}" placeholder="Pincode" required>
      <input type="text" class="form-control" th:field="*{addresses[0].country}" placeholder="Country" required>
    </div>
  </div>
  <br><br>
  <div class="col-md-12 text-center">
    <button type="submit" class="btn btn-primary mt-4">Save Patient</button>
  </div>
</form>
<a th:href="@{/patient}">Back to List of Patients</a>
</body>
</html>